.image-popup {
  position: fixed;
  width: 50vw;
  height: 30vw;
  background-color: white;
  will-change: z-index;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.image-title-text {
  font-size: 14px;
}
