.kakao-background {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../data/images/bg.png");
}

.kakao-container {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  top: -10px;
  background-color: rgba(220, 220, 220);
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.kakao-header-text {
  color: black;
  font-size: 14px;
}
