.sapari-background {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../data/images/bg.png");
}

.image {
  width: 100%;
}
.header-back {
  top: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 26px;
  background-color: rgb(220, 220, 220);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.window-btn-container {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  position: absolute;
}

.window-btn {
  width: 12px;
  height: 12px;
  margin: 3px;
  cursor: pointer;
}

.sapari-address {
  height: 18px;
  width: auto;
}

.footer {
  bottom: 70px;
  position: absolute;
  z-index: 3;
}

.sapari-contents {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  background-color: white;
  top: 26px;
  display: flex;
  justify-content: flex-start;
  padding-top: 200px;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.google-logo {
  width: 300px;
}

.google-search-bar {
  margin-top: 70px;
  width: 700px;
  cursor: pointer;
}

.tag-container {
  margin-top: 40px;
}

.google-tag {
  height: 40px;
  margin-left: 7px;
  margin-right: 7px;
}

.sapari-floating {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  padding: 36px;
}

.profile-logo {
  margin: 13px;
}

.google-gmail {
  cursor: pointer;
}

.search-history {
  width: 700px;
  border-radius: 12px;
  border: solid 2px rgba(220, 220, 220);
  display: flex;
  flex-direction: column;
  height: 25vh;
  overflow: scroll;
}

.history-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
}

.history-item:hover {
  background-color: rgb(220, 220, 220, 0.5);
}

.history-text {
  font-size: 18px;
  color: #51188a;
  margin-left: 24px;
}

.delete-text {
  font-size: 15px;
  color: #9aa0a6;
  margin-right: 16px;
}
