.password-back {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}
.password-input {
  border-radius: 10px;
  border: none !important;
  padding: 4px;
  background-color: rgb(200, 200, 200);
  color: white;
}
.password-input:active {
  border-radius: 10px;
  border: none !important;
}
.password-input:focus {
  border-radius: 10px;
  border: none !important;
}
.password-text {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 24px;
}
.password-hint {
  color: rgb(180, 180, 180);
  font-size: 14px;
  margin-bottom: 36px;
}
.password-error {
  color: rgb(200, 10, 10);
  font-size: 14px;
  margin-top: 12px;
}
